/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Navbar-Start
-----------------------------------------------------------------------------------------------------------------------------------------------------*/


/* logo sizing */
nav>div>a>img {
    width: 120px;
}


/* magnifier button circle style */
#magni>button {
    background-color: #003584;
    padding: 3px 8px;
}

/* Profile button circle style */
#profile {
    padding: 3px 11px;
    background-color: #003584;
}


/* magnifier inside search-box */
#magni {
    top: 7px;
    right: 10px;
}


/* card item notification size */

.bi-cart3 {
    font-size: 5px;
}

/* badge */

.badge {
    font-size: 10px;
}


/* Black nav-bars color to be change  */
.nav-link-white {
    color: white !important;
    border-bottom-width: thick !important;
    font-weight: 100;

}

/* on hover button of black nav bar */
.nav-link-white:hover {
    background-color: white;
    color: black !important;
    border-bottom-color: white !important;
}

/* banner bg color */

#banner {
    background-color: rgb(248, 248, 248);
}

@media (max-width:"") {}






/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Navbar-End
-----------------------------------------------------------------------------------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Hero-start
-----------------------------------------------------------------------------------------------------------------------------------------------------*/


#hero {
    background-color: #F3F8FF;
    margin-top: 5% !important;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Hero-End
-----------------------------------------------------------------------------------------------------------------------------------------------------*/








/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Carousel start
-----------------------------------------------------------------------------------------------------------------------------------------------------*/



#carousel {
    background-color: #F4EDDF;

}

<<<<<<< HEAD .carouselData {
    background-color: #F4EDDF;
}

/* Button ouwards left */
button.carousel-control-prev.position-absolute {
    left: -100px;
    z-index: 0;
}

/* Button outwards right */
button.carousel-control-next {
    right: -100px;
    z-index: 0;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Carousel End
-----------------------------------------------------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------------------
                                                    * SEARCH COURSES START 
-----------------------------------------------------------------------------------------------------------------------------*/


/* Search icon padding styling equal to search bar */
body>div:nth-child(6)>div>i,
body>div.container-fluid.py-5.mb-5.border.border-bottom-1>div>i {
    padding: 4.6px 5px 5.5px 0px;
}

/* pills background color */
span.btn.border.rounded-pill.text-primary {
    background: #80808012;
}

/*---------------------------------------------------------------------------------------------------------------------------
                                                    * SEARCH COURSES END 
-----------------------------------------------------------------------------------------------------------------------------*/





/*---------------------------------------------------------------------------------------------------------------------------
                                                    * THREE COLUMN (TESTIMONIAL) CAROUSAL START
-----------------------------------------------------------------------------------------------------------------------------*/
body>div.container.text-center.mt-5>div.row>div:nth-child(1)>span {
    text-align: start !important;
}

/*---------------------------------------------------------------------------------------------------------------------------
                                                    * THREE COLUMN (TESTIMONIAL) CAROUSAL END
-----------------------------------------------------------------------------------------------------------------------------*/







/*---------------------------------------------------------------------------------------------------------------------------
                                                    * PLANS START
-----------------------------------------------------------------------------------------------------------------------------*/

body>div:nth-child(8) {
    background-color: #F4EDDF;

}

/*---------------------------------------------------------------------------------------------------------------------------
                                                    * PLANS END
-----------------------------------------------------------------------------------------------------------------------------*/

/* pricing cards containers bg color */
body>div:nth-child(9) {
    background-color: #F4EDDF;
}


/* pricing cards color & width & height */
body>div:nth-child(9)>div>div>div {
    background-color: white;
    width: 400px !important;
    height: fit-content;
}

/* removing .row default padding on "most popular button on 2nd cart" */
body>div:nth-child(9)>div>div>div:nth-child(2) {
    padding: 0;
}

/*---------------------------------------------------------------------------------------------------------------------------
                                                    * PLANS END
-----------------------------------------------------------------------------------------------------------------------------*/



body>div:nth-child(10) {
    background-color: #DBEEF6;
}



/*---------------------------------------------------------------------------------------------------------------------------
                                                     purple banner start
-----------------------------------------------------------------------------------------------------------------------------*/

body>div:nth-child(11) {
    background-color: #271066;
}

/*---------------------------------------------------------------------------------------------------------------------------
                                                    /* purple banner end
-----------------------------------------------------------------------------------------------------------------------------*/


/* *********************************************************** 2. COURSES PAGE START****************************************************************************************** */

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    font-weight: 700;
    color: blue;
    border-bottom-color: currentcolor;
}



#home,
#myLearning {
    margin-top: 115px;
    padding-top: 50px;
}


#home>div.container-fluid>div>div {
    background-color: #003584;
}

#home>div.container-fluid>div>div:hover {
    background-color: #003584dc;
}


#home>div:nth-child(2)>div>div>div:hover,
#home>div:nth-child(4)>div>div>div>div:hover,
#home>div:nth-child(1)>div>div>div:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.639);
    transform: scale(1.04);
    transition: all 0.2s;

}

/* *********************************************************** 2. COURSES END ****************************************************************************************** */






/* *********************************************************** 3. BUSINESS PAGE START****************************************************************************************** */
#business-hero {
    background-color: #F5F7F8;
}

#dark-label-business {
    bottom: -50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.485);
}

.container-fluid {
    --bs-gutter-x: 0px !important;
}

#business-pills>span {
    border: 1px solid black !important;
    color: black !important;
    background-color: white !important;
}


/* *********************************************************** 3. BUSINESS PAGE END****************************************************************************************** */