/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Navbar-Start
-----------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
    padding-top: 1px;
}



/* logo sizing */
nav>div>a>img {
    width: 120px;
}


/* magnifier button circle style */
#magni>button {
    background-color: #003584;
    padding: 3px 8px;
}

/* Profile button circle style */
#profile {
    padding: 3px 11px;
    background-color: #003584;
}


/* magnifier inside search-box */
#magni {
    top: 7px;
    right: 10px;
}


/* card item notification size */

.bi-cart3 {
    font-size: 5px;
}

/* badge */

.badge {
    font-size: 10px;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Navbar-End
-----------------------------------------------------------------------------------------------------------------------------------------------------*/





/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Hero-start
-----------------------------------------------------------------------------------------------------------------------------------------------------*/


#hero {
    background-color: #F3F8FF;
    margin-top: 3% !important;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------
                                                                Hero-End
-----------------------------------------------------------------------------------------------------------------------------------------------------*/




#carousel {
    background-color: #F4EDDF;

}
